# {{ ansible_managed }}
---
version: '3.9'

services:

  db:
    image: mariadb:10.5
    container_name: nextcloud-mariadb
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW
    networks:
      - routable-backend
    volumes:
      - ./mariadb:/var/lib/mysql
      - /etc/localtime:/etc/localtime:ro
    environment:
      - MYSQL_ROOT_PASSWORD={{ mysql_root_password }}
      - MYSQL_PASSWORD={{ mysql_password }}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    restart: unless-stopped

  redis:
    image: redis:latest
    container_name: nextcloud-redis
    networks:
      - routable-backend
    restart: unless-stopped
    volumes:
      - ./redis:/data

  app:
    image: nextcloud:latest
    container_name: nextcloud-app
    networks:
      - routable-backend
    depends_on:
      - db
      - redis
    volumes:
      - ./nextcloud:/var/www/html
      - ./app/config:/var/www/html/config
      - ./app/custom_apps:/var/www/html/custom_apps
      - {{ nextcloud_data_path }}:/var/www/html/data
      - {{ nextcloud_tmp_path }}:/mnt/tmp-upload
      - ./app/themes:/var/www/html/themes
      - /etc/localtime:/etc/localtime:ro
      - ./tweak.php:/usr/local/etc/php/conf.d/tweak.php
    environment:
      # Not sure if these are needed now that we're using traefik...
      - VIRTUAL_HOST={{ domain_name }}
      - PHP_UPLOAD_LIMIT=10G
      - PHP_MEMORY_LIMIT=-1
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.nextcloud.rule=Host(`{{ domain_name }}`)
      - traefik.http.routers.nextcloud.entrypoints=websecure
      - traefik.http.routers.nextcloud.tls.certresolver=production
      - traefik.http.routers.nextcloud.tls=true
      - traefik.http.routers.nextcloud.middlewares=nextcloud-dav,nextcloud-header
      - traefik.http.middlewares.nextcloud-dav.replacepathregex.regex=^/.well-known/ca(l|rd)dav
      - traefik.http.middlewares.nextcloud-dav.replacepathregex.replacement=/remote.php/dav/
      - traefik.http.middlewares.nextcloud-header.headers.referrerPolicy=no-referrer
      - traefik.http.middlewares.nextcloud-header.headers.stsSeconds=31536000
      - traefik.http.middlewares.nextcloud-header.headers.forceSTSHeader=true
      - traefik.http.middlewares.nextcloud-header.headers.stsPreload=true
      - traefik.http.middlewares.nextcloud-header.headers.stsIncludeSubdomains=true
      - traefik.http.middlewares.nextcloud-header.headers.browserXssFilter=true
      - traefik.http.middlewares.nextcloud-header.headers.customRequestHeaders.X-Forwarded-Proto=https

networks:
  routable-backend:
    external: true
