---
version: '3.9'

services:

  pihole:
    image: pihole/pihole:latest
    container_name: pihole
    hostname: '{{ pihole_hostname }}'
    networks:
      - pihole_network
    ports:
      - "53/tcp"
      - "53/udp"
      - "67/udp"
      - "80/tcp"
      - "443/tcp"
    environment:
      TZ: '{{ timezone }}'
      WEBPASSWORD: '{{ pihole_password }}'
      ServerIP: 192.168.0.192
      ServerIPv6: 2a02:8071:b500:0:85e:595e:467:5e1
      IPv6: 'true'
    volumes:
      - ./etc-pihole/:/etc/pihole/
      - ./etc-dnsmasq.d/:/etc/dnsmasq.d/
    cap_add:
      - NET_ADMIN
    restart: unless-stopped

networks:
  pihole_network:
    driver: macvlan
    driver_opts:
      parent: eth0
    ipam:
      config:
      - subnet: 192.168.0.0/24
        gateway: 192.168.0.1
        ip_range: 192.168.0.192/32
      - subnet: 2a02:8071:b59e:f700::/56
        gateway: 2a02:8071:b500:0:85e:595f:467:5e1
