# {{ ansible_managed }}
---
version: '3.9'

services:

  plex:
    image: linuxserver/plex:latest
    container_name: plex
    # We're using host here because that puts the plex
    # container in our internal network.
    # Otherwise the plex server will always be detected
    # as being remote.
    network_mode: host
    # networks:
    # - routable-backend
    # ports:
    # - 32400:32400
    # - 1900:1900
    # - 5353:5353
    # - 8324:8324
    # - 32410:32410
    # - 32412:32412
    # - 32413:32413
    # - 32414:32414
    # - 32469:32469
    restart: unless-stopped
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ./config:/config
{% for plex_lib in plex_libraries %}
      - {{ plex_lib.src }}:{{ plex_lib.dest }}
{% endfor %}
    environment:
      - TZ={{ timezone }}
      - VERSION=docker
      - PUID=1000
      - PGID=1000
      - PLEX_CLAIM={{ plex_claim }}
