# {{ ansible_managed }}
---
version: "3.9"
networks:
  routable-backend:
    external: true
services:
  scrutiny:
    image: linuxserver/scrutiny
    container_name: scrutiny
    networks:
      - routable-backend
    cap_add:
      - SYS_RAWIO
      - SYS_ADMIN #optional, only for NVME
    environment:
      - PUID=1000
      - PGID=1000
      - TZ={{ timezone }}
      - SCRUTINY_API_ENDPOINT=http://localhost:8080
      - SCRUTINY_WEB=true
      - SCRUTINY_COLLECTOR=true
    volumes:
      - ./config:/config
      - /run/udev:/run/udev:ro
    ports:
      - 9080:8080
    devices:
{% for disk in scrutiny_disks %}
      - {{ disk }}:{{ disk }}
{% endfor %}
    restart: unless-stopped
    labels:
      - traefik.enable=true
      - traefik.http.routers.scrutiny.rule=Host(`scrutiny.{{ domain_name }}`)
      - traefik.http.routers.scrutiny.entrypoints=web
