# {{ ansible_managed }}
---
version: '3.9'

networks:
  public-network:
    external: true
  routable-backend:
    external: true

volumes:
  traefik-ssl-certs:
    driver: local

services:
  traefik:
    image: "traefik:latest"
    container_name: "traefik"
    ports:
      - "80:80"
      - "443:443"
      # (Optional) Expose Dashboard
      - "8080:8080"  # Don't do this in production!
    volumes:
      - ./config/traefik.yml:/traefik.yml:ro
      - traefik-ssl-certs:/ssl-certs
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped
    networks:
      - public-network
      - routable-backend
    labels:
      - traefik.enable=true
      - traefik.http.routers.traefik.rule=Host(`traefik.{{ domain_name }}`)
      - traefik.http.routers.traefik.entrypoints=web
      - traefik.http.services.traefik.loadbalancer.server.port=8080
