# {{ ansible_managed }}
---
version: '3.9'

networks:
  watchtower:

services:

  watchtower:
    image: containrrr/watchtower:latest
    container_name: watchtower
    environment:
      - TZ={{ timezone }}
      - WATCHTOWER_CLEANUP={{ watchtower_cleanup }}
      - WATCHTOWER_SCHEDULE={{ watchtower_update_cron }}
      - WATCHTOWER_TIMEOUT={{ watchtower_timeout }}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - watchtower
    restart: unless-stopped
